<h1 class="userInformation">User Information</h1>

<div *ngIf="user">
  <h4 class="userInformation1">First Name: {{ user.firstname }}</h4>
  <h4 class="userInformation1">Last Name: {{ user.lastname }}</h4>
  <h4 class="userInformation1">Email: {{ user.email }}</h4>
  <!-- You should avoid displaying the user's password in the account page -->
</div>

<div class="logoutButton">
  <button mat-flat-button color="primary" (click)="logout()">Log Out</button>
</div>
<div class="deleteButton">
  <button mat-flat-button color="primary" (click)="deleteAccount()" data-cy="deleteAccount">Delete Account</button>
</div>

<app-navbar>
</app-navbar>
