<h1 class="userInformation">User Information</h1>
<script>
  var token = tokenStorage.getToken();
</script>
<!--{{getFirstname(token)}}-->
<h4 class="userInformation1" > First Name: </h4>
<h4 class="userInformation1"> Last Name: </h4>
<h4 class="userInformation1"> Email: </h4>
<h4 class="userInformation1"> Password: </h4>
<div class="logoutButton">
  <button mat-flat-button color="primary" (click)="logout()">Log Out</button>
</div>
<div class="deleteButton">
  <button mat-flat-button color="primary" (click)="deleteAccount()">Delete Account</button>
</div>

<app-navbar>
</app-navbar>