

.header{
  text-align: center;
  margin-top: 30px;
  margin-left: 195px;
}

.select {
  flex: auto 1 1;
}

.right {
  float: right;
  padding-right: 60px
}

.full-width {
  padding-top: 20px;
  width: 40%;
  align-self: center;
  padding-left: 40px;
}

.description {
  width: 80%;
  padding-left: 50px;
}

.start-time {
  width: 30%;
  padding-left: 40px;
}

.end-time {
  float: right;
  padding-right: 60px;
}

.restrictions {
  float: right;
  padding-right: 10px;
}

.submitEvent {
  text-align: center;
}