

.header{
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-top: 30px
}

.select {
  flex: auto 1 1;
}

.calendar {
  float: right;
  padding-right: 60px
}

.full-width {
  width: 30%;
  align-self: center;
  padding-left: 40px;
}

.description {
  width: 80%;
  padding-left: 50px;
}