.toolbar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
 }
 
 .header {
    font: normal 23px avenir;
    flex: 1 1 auto;
    cursor:pointer;
 }


.menu-spacer {
    flex: 1 1 auto;
  }
.navbar {
    background-color: transparent;
    background-color: transparent;
}

.label {
    font: normal 15px avenir;
    margin-left: 20px;
}