.toolbar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
 }
 
 .header {
    font-weight: 400;
    flex: 1 1 auto;
    cursor:pointer;
 }

.container {
    
}


.menu-spacer {
    flex: 1 1 auto;
  }
.navbar {
    background-color: transparent;
    background-color: transparent;
}

.label {
    font-weight: 400;
}