.contactInfo {
    text-align: center;
      margin-top: 5em;
      font-weight: 200;
  }
  
  .contactInfo1 {
    text-align: left;
    margin-left: 5em;
    font-weight: 200;
    margin-top: 5em;
  }
  