mat-card {
    max-width: 500px;
    margin: 20em auto;
    text-align: center;
    max-height: 800px;
  }
  
  .header{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
  }
  .full-width {
    width: 80%;
  }
  
  .register {
    padding-top: 20px;
    text-align: center
  }
  
  .emailInput{
    padding-top: 30px;
  }
  
  .forgot-password{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

  .SubmitButton {
    padding-top: 5px;
  }
