<mat-card>
  <script src = "register.component.js"></script>
    <mat-card-content>
      <div class="header">
        <header>Enter Information</header>
      </div>
      <!--First Name-->
      <form name="registerForm" [formGroup]="registerForm">
        <div class="firstName">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            
            <input
              [(ngModel)]="firstName"
              formControlName="firstName"
              matInput
              placeholder="First Name" required
            />
            <mat-error *ngIf="!registerForm.controls['firstName'].valid">
                Invalid first name
              </mat-error>
          </mat-form-field>
        </div>
        <!--Last Name-->
        <div class="lastName">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
            [(ngModel)]="lastName"
              formControlName="lastName"
              matInput
              placeholder="Last Name" required
            />
            <mat-error *ngIf="!registerForm.controls['lastName'].valid">
                Invalid last name
              </mat-error>
          </mat-form-field>
        </div>
        <!--Email-->
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
            [(ngModel)]="email"
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <mat-error *ngIf="!registerForm.controls['email'].valid">
                Invalid email
              </mat-error>
          </mat-form-field>
        </div>
        <!--Password-->
        <div>  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input 
            [(ngModel)]="password"
            formControlName="password" 
            name="password"
            matInput [type]=" hide ? 'password' : 'text'" required 
            id="password"
            type = "password"
            class="form-control"
            placeholder="Enter Password" required
            />
            <!--<div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
              <div *ngIf="f.password.errors?.required">Password is required.</div>
            </div>-->
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!registerForm.controls['password'].valid">
            Password must be at least 6 characters
          </mat-error>
        </mat-form-field>
        </div>

        <div class="createAccount">
        <button data-cy="submit" mat-flat-button color="primary" (click)="onRegister()">Create Account!</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

