
  .title {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
  }
  

  
  .time-label {
    display: inline;
    font-size: 18px;
    font-weight: 100;
    margin-right: 5px; /* Adjust this value to control the space between the label and the time */
  }
  
  .starttime {
    display: inline;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 200px;
  }

.start-time {
  margin-bottom: 10px;
}

.end-time {
  margin-bottom: -80px;
}


  .endtime {
    display: inline;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 100;
  }

  .content-container {
    display: flex;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0px;
  }
  
  .description-container {
    flex: 1;
    flex-shrink: 0;
    flex-basis: 90%;
    max-width: 100%;
  }
  
  .time-container {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 65px;
    margin-left: -200px;
    margin-right: 400px;
    border: 1px solid;
    border-radius: 5px;
  }


.capacity {
  margin-left: 308px;
  position: fixed;
  font-size: 18px;
  margin-top: 10px;
}

.button {
    margin-top: 420px;
    margin-left: 310px;
}

  .description {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
    margin-right: 300px;
    font-size: 18px;
    font-weight: 30;
    border: 1px solid;
    border-radius: 5px;
  }

  .event-detail {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 20px;
  }