<ng-container *ngIf="event">
    <div class="header">
      <h2>{{ event.title }}</h2>
      <div class="time-container">
        <p class="starttime">Start: {{ event.starttime | date: 'h:mm a' }}</p>
        <p class="endtime">End: {{ event.endtime | date: 'h:mm a' }}</p>
      </div>
    </div>
    <div class="content-container">
      <div class="extra-details">
        <p class="event-detail">{{ event.activity }}</p>
        <p class="event-detail">{{ event.address }}</p>
      </div>
      <div class="description-container">
        <p class="description-title">Description:</p>
        <div class="description-box">
          <p class="description">{{ event.description }}</p>
        </div>
        <div class="time-container">
            <div class="start-time">
            <p><span class="time-label">Start:</span><span class="starttime">{{ event?.starttime | date:'h:mm a' }}</span></p>
            </div>
            <div class="end-time">
            <p><span class="time-label">End:</span><span class="endtime">{{ event?.endtime | date:'h:mm a' }}</span></p>
            </div>
        </div>
    </div>
    <p class="event-detail"> {{ event.address }}</p>
    <ng-container *ngIf="event.Users; else noUsers">
        <p class="capacity">{{event.Users.length}} / {{ event.capacity }} spots taken</p>
        <p class="spots-left">{{ event.capacity - event.Users.length }} spots left</p>
      </ng-container>
      <ng-template #noUsers></ng-template>
    </div>
    <div class="submitEvent">
      <button mat-flat-button class="button" color="primary">
        Sign up
      </button>
    </div>
  </ng-container>
  