.map-container {
    position: absolute;
    margin-left: 29.5%;
    size-adjust: 20%;
    height: 45%;
    width: 40%;
    align-content: flex-end;
}

.header {
    flex: auto 1 1;
    align-content: center;
}