<mat-card>
    <mat-card-content>
      <div class="header">
        <header>READY TO GO?</header>
      </div>
      <form (ngSubmit)="login()" name="loginForm" [formGroup]="form">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <mat-error *ngIf="!form.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <span>
            <a class="text-link" class="forgot-password" routerLink="/auth/forgot-password">Forgot Password?</a>
          </span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!form.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>
        </div>
        <div class="SubmitButton">
          <button mat-flat-button color="primary">Let's GO!</button>
        </div>
      </form>

      <div class="register">
        <a routerLink="/register">Create New Account</a>
      </div>
    </mat-card-content>
  </mat-card>
